<footer>
    <div class="footer-logo">
        <h3>Logo</h3>
    </div>
    <div class="footer-nav">
        <ul>
            <li>
                <a routerLink="about-us">About Us</a>
            </li>
            <li>
                <a routerLink="register">Become a Member</a>
            </li>
            <li>
                <a routerLink="deals">check new deals</a>
            </li>
        </ul>
    </div>
    <div class="social">
        <ul>
            <li>
                <a routerLink="facebook">f</a>
            </li>
            <li>
                <a routerLink="LinkedIn">in</a>
            </li>
            <li>
                <a routerLink="Twitter">t</a>
            </li>
        </ul>
    </div>
</footer>
